@font-face {
  font-family: 'IBM Plex Mono', monospace;
  src: url('../font/IBM Plex Mono/IBMPlexMono-Thin.ttf');
}
@font-face {
  font-family: 'Inter', sans-serif;
  src: url('../font/Inter/Inter-VariableFont_slnt,wght.ttf');
}
html,
body {
  margin: 0;
  background-color: #f2e4ff;
  height: 4000px;
  width: 100%;
}
html #outer_container,
body #outer_container {
  width: 100%;
  height: 100%;
}
html #outer_container .main_container,
body #outer_container .main_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
html #outer_container .main_container .header_block,
body #outer_container .main_container .header_block {
  width: 100%;
  display: flex;
  flex-direction: column;
}
html #outer_container .main_container .header_block .logo,
body #outer_container .main_container .header_block .logo {
  width: 173px;
  padding: 5px;
  margin: 10px;
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
html #outer_container .main_container .header_block .logo .first_word,
body #outer_container .main_container .header_block .logo .first_word {
  margin: 0;
  color: #f2e4ff;
  background-color: #0b23ac;
  padding: 3%;
}
html #outer_container .main_container .header_block .logo .second_word,
body #outer_container .main_container .header_block .logo .second_word {
  margin: 0;
  color: #141414;
  padding: 3%;
}
html #outer_container .main_container .header_block .navigate_block,
body #outer_container .main_container .header_block .navigate_block {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
html #outer_container .main_container .header_block .navigate_block .button,
body #outer_container .main_container .header_block .navigate_block .button {
  background-color: #0b23ac;
  /* Green */
  color: #f2e4ff;
  padding: 15px 32px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
html #outer_container .main_container .center_block,
body #outer_container .main_container .center_block {
  max-width: 1366px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
html #outer_container .main_container .center_block .center_section,
body #outer_container .main_container .center_block .center_section {
  height: 100%;
}
html #outer_container .main_container .center_block .center_section .main_topic_block,
body #outer_container .main_container .center_block .center_section .main_topic_block {
  background-image: url(../img/1609.jpg);
  background-repeat: no-repeat;
  height: 17%;
}
html #outer_container .main_container .center_block .center_section .main_topic_block .main_topic,
body #outer_container .main_container .center_block .center_section .main_topic_block .main_topic {
  padding-top: 50px;
  color: #f2e4ff;
  font-size: 4vw;
  text-align: center;
  font-family: 'IBM Plex Mono', monospace;
}
html #outer_container .main_container .center_block .center_section .news_title,
body #outer_container .main_container .center_block .center_section .news_title {
  padding: 1%;
  margin: 1%;
  border-bottom: 3px solid #0b23ac;
  width: fit-content;
  font-family: 'Inter', sans-serif;
}
html #outer_container .main_container .center_block .center_section .article_title,
body #outer_container .main_container .center_block .center_section .article_title {
  padding: 1%;
  margin: 1%;
  border-bottom: 3px solid #0b23ac;
  width: fit-content;
}
html #outer_container .main_container .center_block .center_section .news_container,
body #outer_container .main_container .center_block .center_section .news_container {
  margin: 3% auto 0;
  width: 90%;
  display: flex;
  flex-direction: column;
}
html #outer_container .main_container .center_block .center_section .news_container .certain_news,
body #outer_container .main_container .center_block .center_section .news_container .certain_news {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1%;
}
html #outer_container .main_container .center_block .center_section .news_container .certain_news .img_container,
body #outer_container .main_container .center_block .center_section .news_container .certain_news .img_container {
  width: 20%;
}
html #outer_container .main_container .center_block .center_section .news_container .certain_news .img_container img,
body #outer_container .main_container .center_block .center_section .news_container .certain_news .img_container img {
  width: 100%;
}
html #outer_container .main_container .center_block .center_section .news_container .certain_news .text_container,
body #outer_container .main_container .center_block .center_section .news_container .certain_news .text_container {
  width: 75%;
}
html #outer_container .main_container .center_block .center_section .news_container .certain_news .text_container .certain_news_title,
body #outer_container .main_container .center_block .center_section .news_container .certain_news .text_container .certain_news_title {
  margin: 0 0 0 1%;
  font-family: 'Inter', sans-serif;
}
html #outer_container .main_container .center_block .center_section .news_container .certain_news .text_container p,
body #outer_container .main_container .center_block .center_section .news_container .certain_news .text_container p {
  margin: 2% 0 0 1%;
  text-align: justify;
  font-family: 'Inter', sans-serif;
}
html #outer_container .main_container .center_block .center_section .news_block .news_text .certain_news_title,
body #outer_container .main_container .center_block .center_section .news_block .news_text .certain_news_title {
  padding: 0 1%;
}
html #outer_container .main_container .center_block .center_section .news_block .news_text .article_content,
body #outer_container .main_container .center_block .center_section .news_block .news_text .article_content {
  display: flex;
  width: 98%;
}
html #outer_container .main_container .center_block .center_section .news_block .news_text .article_content .article_text,
body #outer_container .main_container .center_block .center_section .news_block .news_text .article_content .article_text {
  display: flex;
  flex-direction: row;
  width: 50%;
  padding: 0 1%;
}
html #outer_container .main_container .center_block .center_section .news_block .news_text .article_content .article_text p,
body #outer_container .main_container .center_block .center_section .news_block .news_text .article_content .article_text p {
  text-align: justify;
}
html #outer_container .main_container .center_block .center_section .news_block .news_text .article_content .article_img,
body #outer_container .main_container .center_block .center_section .news_block .news_text .article_content .article_img {
  width: 50%;
  padding-top: 2%;
}
html #outer_container .main_container .center_block .center_section .news_block .news_text .article_content .article_img img,
body #outer_container .main_container .center_block .center_section .news_block .news_text .article_content .article_img img {
  width: 100%;
}
html #outer_container .main_container .center_block .center_section .article_title,
body #outer_container .main_container .center_block .center_section .article_title {
  font-family: 'Inter', sans-serif;
}
html #outer_container .main_container .center_block .center_section .featured_article_block,
body #outer_container .main_container .center_block .center_section .featured_article_block {
  margin: 1% auto 0;
  width: 90%;
  display: flex;
  flex-direction: column;
}
html #outer_container .main_container .center_block .center_section .featured_article_block .featured_article,
body #outer_container .main_container .center_block .center_section .featured_article_block .featured_article {
  margin-bottom: 2%;
}
html #outer_container .main_container .center_block .center_section .featured_article_block .featured_article .featured_article_title,
body #outer_container .main_container .center_block .center_section .featured_article_block .featured_article .featured_article_title {
  font-family: 'Inter', sans-serif;
}
html #outer_container .main_container .center_block .center_section .featured_article_block .featured_article h5,
body #outer_container .main_container .center_block .center_section .featured_article_block .featured_article h5 {
  font-family: 'Inter', sans-serif;
}
html #outer_container .main_container .center_block .center_section .featured_article_block .featured_article p,
body #outer_container .main_container .center_block .center_section .featured_article_block .featured_article p {
  text-align: justify;
  margin: 0;
  font-family: 'Inter', sans-serif;
}
.substrate {
  background-color: rgba(58, 54, 54, 0.94);
  position: absolute;
  top: -1px;
  visibility: hidden;
  opacity: 0.5;
  width: 1366px;
  height: 4000px;
}
.show {
  transition: 1s;
  visibility: visible;
}
.show img {
  width: 50%;
}
.gallery_section {
  display: flex;
  flex-direction: column;
  width: 1349px;
}
.gallery_section .photos_block {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.gallery_section .photos_block .gallery_title {
  width: fit-content;
  border-bottom: 3px solid #0b23ac;
  display: flex;
  margin: 1%;
  padding: 1%;
}
.gallery_section .photos_block .photos {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.gallery_section .photos_block .photos .images_row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.gallery_section .photos_block .photos .images_row img {
  width: 15%;
  margin: 0.5%;
  cursor: pointer;
}
.gallery_section .photos_block .photos .images_row .zoom {
  position: absolute;
  width: 600px;
  height: 450px;
  bottom: 100px;
}
.no_scroll {
  overflow-y: hidden;
  overflow-x: hidden;
}
.about_section {
  display: flex;
  flex-direction: column;
  width: 1349px;
}
.about_section .about_block {
  margin: 1% auto 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.about_section .about_block .about_title {
  width: fit-content;
  display: flex;
  margin: 1%;
  padding: 1%;
  border-bottom: 3px solid #0b23ac;
}
.about_section .about_block .about_article {
  width: 90%;
  margin: auto;
  text-align: justify;
}
.history_section {
  display: flex;
  flex-direction: column;
  width: 1349px;
}
.history_section .history_block {
  margin: 1% auto 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.history_section .history_block .history_title {
  width: fit-content;
  display: flex;
  margin: 1%;
  padding: 1%;
  border-bottom: 3px solid #0b23ac;
}
.history_section .history_block .historic_article {
  width: 90%;
  margin: auto;
  text-align: justify;
}
.history_section .history_block .historic_article .featured_article_title {
  font-family: 'Inter', sans-serif;
  font-size: clamp(2rem, 5vw, 3rem);
  line-height: 1.4;
  letter-spacing: -0.01rem;
}
.history_section .history_block .historic_article h2 {
  font-family: 'Inter', sans-serif;
}
.contacts_section {
  display: flex;
  flex-direction: column;
  width: 1349px;
}
.contacts_section .contacts_block {
  margin: 1% auto 0;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contacts_section .contacts_block .contacts_title {
  width: fit-content;
  display: flex;
  margin: 1%;
  padding: 1%;
  border-bottom: 3px solid #0b23ac;
}
.contacts_section .contacts_block .contacts_list {
  width: 50%;
  margin: auto;
  text-align: justify;
  outline: 2px solid #0b23ac;
  border-radius: 15px;
}
.footer_block {
  position: relative;
  bottom: -150px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.footer_block .second_nav_block {
  width: max-content;
  display: flex;
  flex-direction: row;
}
.footer_block .second_nav_block .button {
  height: max-content;
  text-decoration: none;
  color: #141414;
  padding: 3px 8px;
  margin: auto 2px;
  outline: 2px solid #141414;
  border-radius: 12px;
  vertical-align: middle;
}
.footer_block .second_nav_block .button:hover {
  background-color: #141414;
  color: #f2e4ff;
}
.footer_block .author_inf {
  width: max-content;
  padding: 0 5px;
  background-color: #141414;
  border-radius: 12px;
}
.footer_block .author_inf .link {
  text-decoration: none;
  color: #f2e4ff;
}
.footer_block .author_inf:hover {
  cursor: pointer;
}
.suitable_gallery_size {
  height: 1000px;
}
/*# sourceMappingURL=style.css.map */